In [2]:
name_list = ["Kagetera", "John", "Peter", "Alex", "Claude"]

name_list.sort(reverse=True)

name_list.append("Juliette")
name_list.append("University")
name_list.append("Kangabe")

print(name_list)

['Peter', 'Kagetera', 'John', 'Claude', 'Alex', 'Juliette', 'University', 'Kangabe']